html, body{
  margin: 0;
  padding: 0;
  height: 100%
}

html {
  background-color: #CDD3D5;
}

* {
  font-family:  'Open Sans', sans-serif;
}

.parentFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    align-items: flex-start;
}

.TopicBox {
  background-color: white;
  padding: 1%;
  width: 28%;
  margin: 1.5%;
}

.itemHeader {
  color: #77CBB9;
}

.homeNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #506C64;
  padding-left: 20px;
}

.homeNavBar h2, .homeNavBar p {
  color: #EEF0F2;
}

.right {
 right: 0;
}

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
   margin-right: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #011638;
}

.button:hover {
    background-color: #011638;
    color: white;
}

.button a {
  color: #7E8099;
  text-decoration: none;
}

.button a:hover{
  color: white;
}

.addMode {
-webkit-transform: rotate(46deg);
-moz-transform: rotate(46deg);
-o-transform: rotate(46deg);
-ms-transform: rotate(46deg);
transform: rotate(46deg);
}

.checkButton {
  font-size: 150%;
  border: 2px solid #77CBB9;
  background-color: #77CBB9;
  border-radius: 50px;
  margin-left: 90%;
}

.addInput {
  width: 100%;
  border: 3px solid #77CBB9;
  margin-bottom: 10px;
  font-size: 20px;
  color: #506C64;
}

.addInput:focus {
  border: 3px solid #555;
}

.addLabel {
  color: #506C64;
}

.discussionTitle {
  font-size: 20px;
  color: #506C64;
}

.discussionData {
  font-size: 16px;
  color: #77CBB9;
}

.discussionSubmit {
  font-size: 10px;
  color: grey;
  font-style: italic;
}

/*CSS GRID*/

/*.container {
  background-color: #FAFAFA;
  margin-bottom: 2em;
}

.gallery {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(28%, 29%));
	grid-auto-rows: minmax(28%, 29%x);
}*/
