html, body{
  margin: 0;
  padding: 0;
  height: 100%
}

html {
  background-color: #CDD3D5;
}

* {
  font-family:  'Open Sans', sans-serif;
  font-family: 'Bungee Hairline';
}

a{
  text-decoration: none;
}

.splashImage {
  /*background-image: url('./splashthreem.png');*/
  background-image: url('https://d28fz8geg24kjr.cloudfront.net/splashthreem.png');
  height: 100vh;
  background-size: cover;
}

.parentFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    align-items: flex-start;
}

.TopicBox {
  background-color: white;
  padding: 1%;
  margin: 2%;
  width: 88%;
  /*margin: 1.5%;*/
}

.itemHeader {
  color: #77CBB9;
  font-size: 30px;
  font-size: 6vw;
  font-family: 'Bungee';
}

.homeNavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #506C64;
  padding-left: 20px;
}

.homeNavBar h2, .homeNavBar p {
  color: #EEF0F2;
}

.right {
 right: 0;
}

.button {
  padding: 10px 22px;
  height: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 2%;
  margin-bottom: 2%;
   margin-right: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #011638;
}

.button:hover {
    background-color: #011638;
    color: white;
}

.button a {
  color: #7E8099;
  text-decoration: none;
}

.button a:hover{
  color: white;
}

.title {
  font-size: 7vw;
  font-family: 'Bungee Shade', cursive;
}

.addMode {
-webkit-transform: rotate(46deg);
-moz-transform: rotate(46deg);
-o-transform: rotate(46deg);
-ms-transform: rotate(46deg);
transform: rotate(46deg);
}

.checkButton {
  font-size: 45px;
  background-color: white;
  color: #77CBB9;
  border: none;
  margin-left: 80%;
}

.addInput {
  width: 90%;
  border: 3px solid #77CBB9;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #506C64;
}

.addInput:focus {
  border: 3px solid #555;
}

.addLabel {
  color: #506C64;
}

.discussionTitle {
  font-size: 30px;
  font-weight: bold;
  color: #506C64;
}

.discussionData {
  font-size: 26px;
  font-weight: bold;
  color: #77CBB9;
}

.discussionSubmit {
  font-size: 15px;
  color: grey;
  font-weight: bold;
  font-style: italic;
}

.fa {
  padding-left: 10px;
  padding-right: 10px;
}

.fabutton {
  color: #011638;
}

@media (min-width: 40em) {
  .homeNavBar {
    flex-direction: row;
  }
  .TopicBox {
    padding: 1%;
    width: 28%;
    margin: 1.5%;
  }
  .itemHeader{
    font-size: 30px;
    font-size: 2vw;
  }
  .title {
    font-size: 2.5vw;
  }
  .splashImage {
    /*background-image: url('./splashthree.png');*/
    background-image: url('https://d28fz8geg24kjr.cloudfront.net/splashthree.png');
    height: 100vh;
    background-size: cover;
  }
}

/*CSS GRID*/

/*.container {
  background-color: #FAFAFA;
  margin-bottom: 2em;
}

.gallery {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(28%, 29%));
	grid-auto-rows: minmax(28%, 29%x);
}*/
